@use 'reset';
@use 'variable';
@use 'font';
@use 'mixin';

@use 'core/view';
@use 'core/form';

body {
    background: variable.$base-color;
    color: variable.$text-color;
    font-size: variable.$font-size-medium;
}

.app-container {
    @include mixin.full-height-width();
}
