<div class="sign-in-container">
    <div class="app-name">
        <h1>Splatoo</h1>
    </div>
    <mat-card>
        <mat-card-header>
            <h3>{{ 'AUTH.text.sign_in' | translate }}</h3>
        </mat-card-header>
        <mat-card-content>
            <form
                [formGroup]="form"
                class="form">
                <app-shared-input
                    classes="field"
                    [control]="emailControl"
                    [label]="'COMMON.text.email' | translate"
                    prefixIcon="mail">
                </app-shared-input>
                <app-shared-input
                    classes="field"
                    [control]="passwordControl"
                    [label]="'COMMON.text.password' | translate"
                    type="password"
                    prefixIcon="vpn_key">
                </app-shared-input>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                mat-button
                (click)="onSignIn()">
                <mat-icon>login</mat-icon>
                {{ 'AUTH.text.sign_in' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
    <div class="change-form-link">
        <a
            matRipple
            (click)="onSwitchToRegisterForm()">
            {{ 'AUTH.text.link_up' | translate }}
        </a>
    </div>
</div>
