@use 'variable';
@use 'colors/primary';

.sign-in-container {
    mat-card {
        background: rgba(255, 255, 255, 0.1);

        mat-card-header {
            color: variable.$white-color;
        }

        mat-card-content {
            mat-form-field {
                input {
                    color: variable.$white-color;
                }
            }
        }

        mat-card-actions {
            button {
                color: variable.$white-color;
            }
        }
    }
}

::ng-deep {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
        border-color: variable.$white-color !important;

        mat-label {
            color: variable.$white-color !important;
        }
    }
    .mat-mdc-form-field-icon-prefix {
        mat-icon {
            font-size: 12px;
            padding: 0.5em !important;
            color: variable.$white-color !important;
        }
    }
}

// ::ng-deep .mat-focused .mat-form-field-label {
//     /*change color of label*/
//
// }

// ::ng-deep.mat-form-field-underline {
//     /*change color of underline*/
//     background-color: #fff !important;
// }

// ::ng-deep.mat-form-field-ripple {
//     /*change color of underline when focused*/
//     background-color: #fff !important;
// }
