@use '@angular/material' as mat;

$accent-map: (
    50: #eeeefc,
    100: #d4d4f8,
    200: #b8b8f4,
    300: #9b9cef,
    400: #8586eb,
    500: #7071e8,
    600: #6869e5,
    700: #5d5ee2,
    800: #5354de,
    900: #4142d8,
    contrast: (
        50: #3d3b40,
        100: #3d3b40,
        200: #3d3b40,
        300: #3d3b40,
        400: #3d3b40,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

$accent-palette: mat.define-palette($accent-map, 500);

$accent-color-500: map-get(
    $map: $accent-map,
    $key: 500,
);
