@use '@angular/material' as mat;
@use 'variable';

$primary-map: (
    50: #e9eaff,
    100: #c7cbfe,
    200: #a2a8fe,
    300: #7d85fd,
    400: #616afc,
    500: #4550fc,
    600: #3e49fc,
    700: #3640fb,
    800: #2e37fb,
    900: #1f27fa,
    contrast: (
        50: variable.$text-color,
        100: variable.$text-color,
        200: variable.$text-color,
        300: variable.$text-color,
        400: variable.$white-color,
        500: variable.$white-color,
        600: variable.$white-color,
        700: variable.$white-color,
        800: variable.$white-color,
        900: variable.$white-color,
    ),
);

$primary-palette: mat.define-palette($primary-map, 500);

$primary-color-500: map-get(
    $map: $primary-map,
    $key: 500,
);
