@use '@angular/material' as mat;

$primary-map: (
    50: #e9eaff,
    100: #c7cbfe,
    200: #a2a8fe,
    300: #7d85fd,
    400: #616afc,
    500: #4550fc,
    600: #3e49fc,
    700: #3640fb,
    800: #2e37fb,
    900: #1f27fa,
    contrast: (
        50: #3d3b40,
        100: #3d3b40,
        200: #3d3b40,
        300: #3d3b40,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
    ),
);

$primary-palette: mat.define-palette($primary-map, 500);

$primary-color-500: map-get(
    $map: $primary-map,
    $key: 500,
);
