@use '@angular/material' as mat;

$warn-map: (
    50: #fff6e7,
    100: #ffe9c2,
    200: #ffda9a,
    300: #ffcb71,
    400: #ffc052,
    500: #ffb534,
    600: #ffae2f,
    700: #ffa527,
    800: #ff9d21,
    900: #ff8d15,
    contrast: (
        50: #3d3b40,
        100: #3d3b40,
        200: #3d3b40,
        300: #3d3b40,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #3d3b40,
    ),
);

$warn-palette: mat.define-palette($warn-map, 500);

$warn-color-500: map-get(
    $map: $warn-map,
    $key: 500,
);
