@use '@angular/material' as mat;
@use 'variable';

$warn-map: (
    50: #fff6e7,
    100: #ffe9c2,
    200: #ffda9a,
    300: #ffcb71,
    400: #ffc052,
    500: #ffb534,
    600: #ffae2f,
    700: #ffa527,
    800: #ff9d21,
    900: #ff8d15,
    contrast: (
        50: variable.$text-color,
        100: variable.$text-color,
        200: variable.$text-color,
        300: variable.$text-color,
        400: variable.$white-color,
        500: variable.$white-color,
        600: variable.$white-color,
        700: variable.$white-color,
        800: variable.$white-color,
        900: variable.$text-color,
    ),
);

$warn-palette: mat.define-palette($warn-map, 500);

$warn-color-500: map-get(
    $map: $warn-map,
    $key: 500,
);
