<div class="sign-up-container">
    <div class="app-name">
        <h1>Splatoo</h1>
    </div>
    <mat-card>
        <mat-card-header>
            <h3>{{ 'AUTH.text.sign.up' | translate }}</h3>
        </mat-card-header>
        <mat-card-content>
            <form
                [formGroup]="form"
                class="form">
                <app-shared-input
                    classes="field"
                    [control]="firstNameControl"
                    [label]="'COMMON.text.name.first' | translate"
                    prefixIcon="badge">
                </app-shared-input>
                <app-shared-input
                    classes="field"
                    [control]="lastNameControl"
                    [label]="'COMMON.text.name.last' | translate"
                    prefixIcon="badge">
                </app-shared-input>
                <app-shared-input
                    classes="field"
                    [control]="emailControl"
                    [label]="'COMMON.text.email' | translate"
                    prefixIcon="mail">
                </app-shared-input>
                <app-shared-input
                    classes="field"
                    [control]="passwordControl"
                    [label]="'COMMON.text.password.default' | translate"
                    type="password"
                    prefixIcon="vpn_key">
                </app-shared-input>
                <app-shared-input
                    classes="field"
                    [control]="confirmPasswordControl"
                    [label]="'COMMON.text.password.confirm' | translate"
                    type="password"
                    prefixIcon="vpn_key">
                </app-shared-input>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                mat-button
                (click)="onSignUp()">
                <mat-icon>login</mat-icon>
                {{ 'AUTH.text.sign.up' | translate }}
            </button>
        </mat-card-actions>
    </mat-card>
    <div class="change-form-link">
        <a
            matRipple
            (click)="onSwitchToLoginForm()">
            {{ 'AUTH.text.link.in' | translate }}
        </a>
    </div>
</div>
